node_modules/
captcha.png
addhar.pdf
.vercel

curl 'https://tathya.uidai.gov.in/unifiedAppAuthService/api/v2/get/captcha' \
  -H 'Connection: keep-alive' \
  -H 'sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="96", "Google Chrome";v="96"' \
  -H 'Accept-Language: en_IN' \
  -H 'sec-ch-ua-mobile: ?1' \
  -H 'User-Agent: Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Mobile Safari/537.36' \
  -H 'Content-Type: application/json' \
  -H 'Accept: application/json, text/plain, */*' \
  -H 'appid: MYAADHAAR' \
  -H 'sec-ch-ua-platform: "Android"' \
  -H 'Origin: https://myaadhaar.uidai.gov.in' \
  -H 'Sec-Fetch-Site: same-site' \
  -H 'Sec-Fetch-Mode: cors' \
  -H 'Sec-Fetch-Dest: empty' \
  -H 'Referer: https://myaadhaar.uidai.gov.in/' \
  --data-raw '{"langCode":"en","captchaLength":"3","captchaType":"2"}' \
  --compressed